Applet/SkeleKey-Experimental/SkeleKey-Applet.xcodeproj/project.xcworkspace/xcuserdata/
Applet/SkeleKey-Main/SkeleKey-Applet.xcodeproj/project.xcworkspace/xcuserdata/
Manager/SkeleKey-Experimental/SkeleKey-Manager.xcodeproj/project.xcworkspace/xcuserdata/
Manager/SkeleKey-Main/SkeleKey-Manager.xcodeproj/project.xcworkspace/xcuserdata/
