Client/SkeleKey-Experimental/SkeleKey-Applet.xcodeproj/project.xcworkspace/xcuserdata/
Client/SkeleKey-Main/SkeleKey-Applet.xcodeproj/project.xcworkspace/xcuserdata/
Installer/SkeleKey-Experimental/SkeleKey-Manager.xcodeproj/project.xcworkspace/xcuserdata/
Installer/SkeleKey-Main/SkeleKey-Manager.xcodeproj/project.xcworkspace/xcuserdata/
